# --- For-Bot-Working --------- #
#https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.22.zip
pyromod==1.5
pyrofork
TgCrypto
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
pillow
requests
hachoir
opencv-python
pytz
ffmpeg
